<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNSExscWqBjmd49mzyo2M4U-zsequwnyI</string>
	<key>GCM_SENDER_ID</key>
	<string>998349996157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mhammadraza.flutterFcmPushNotifications</string>
	<key>PROJECT_ID</key>
	<string>my-test-project-c5a7d</string>
	<key>STORAGE_BUCKET</key>
	<string>my-test-project-c5a7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998349996157:ios:a0ef3da93738562be4f114</string>
</dict>
</plist>